@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

h1,
h3 {
  margin-top: 30px;
  text-align: center;
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

label {
  margin: 25px 0 5px 0;
  align-self: start;
}

input {
  border-radius: 5px;
  border: none;
  padding: 10px;
  width: 100%;
  background-color: #f6fafc;
}

button {
  width: 100%;
  padding: 10px 30px;
  border-radius: 5px;
  margin-top: 25px;
  border: none;
  background-color: #4a65ee;
  color: white;
}

.button__container {
  margin-top: 25px;
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 5px;
  border: none;
  background-color: #4a65ee;
}
